.App {
  padding-left: 50px;
  padding-top: 50px;
  background-color: #ABA8AC;
  font-weight: bold;
}

.content {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 39rem;
  width: 24.65rem;
}

.addWorkout {
  display: flex;
}

.addWorkout > button{
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 1rem;
  background-color:#3E3E3E;
  color: #DCDCDC;
  border-radius: 8px;
  width: 12rem;
  height: 3rem;
  border-style:none;
  cursor: pointer;
  transition: background-color 0.2 ease;
}

.addWorkout > button:hover{
  background-color: rgb(80, 80, 80);
}

.addWorkout_text,
.addWorkout_icon, 
.removeWorkout_text,
.removeWorkout_icon {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.addWorkout_icon {
  padding-left: 2.5rem;
  font-size: 2em;
  padding-bottom: 0.3rem;
}

.removeWorkout_icon {
  padding-left: 1.3rem;
  font-size: 2.5em;
  padding-bottom: 0.5rem;
}

.searchBox {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #DCDCDC;
  width: 24rem;
  height: 3rem;
  padding-left: 1rem;
}

.searchBox.found {
  background-color: #A0CB36;
}

.exerciseInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.searchButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.legend {
  display: flex;
  padding-top: 50px;
}

#color_range {
  height: 684px;
  width: 20px;
  background: linear-gradient(rgb(125, 0, 0),rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(255, 255, 255));
  border: 2px solid black;
}

.gradient-labels {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 80px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

